<section aria-labelledby="title" class="container grid-auto-120">
    <span id="title" hidden>5 day forecast</span>
    
    <article class="card">
        <h3 class="card__heading">Tomorrow</h3>
        <img src="../assets/images/Sleet.png" alt="HeavyCloud" class="card__img card__separator">
        <div class="card__temp">
            <strong class="card__temp--primary">16&#176;C</strong>
            <small class="card__temp--secondary u-ml-sm">11&#176;C</small>
        </div>
    </article>
    <article class="card">
        <h3 class="card__heading">Sun. 7. Jun</h3>
        <img src="../assets/images/HeavyCloud.png" alt="HeavyCloud" class="card__img card__separator">
        <div class="card__temp">
            <strong class="card__temp--primary">16&#176;C</strong>
            <small class="card__temp--secondary u-ml-sm">11&#176;C</small>
        </div>
    </article>
    <article class="card">
        <h3 class="card__heading">Mon. 8. Jun</h3>
        <img src="../assets/images/LightRain.png" alt="HeavyCloud" class="card__img card__separator">
        <div class="card__temp">
            <strong class="card__temp--primary">16&#176;C</strong>
            <small class="card__temp--secondary u-ml-sm">33&#176;C</small>
        </div>
    </article>
    <article class="card">
        <h3 class="card__heading">Tue. 9. Jun</h3>
        <img src="../assets/images/Shower.png" alt="HeavyCloud" class="card__img card__separator">
        <div class="card__temp">
            <strong class="card__temp--primary">16&#176;C</strong>
            <small class="card__temp--secondary u-ml-sm">11&#176;C</small>
        </div>
    </article>
    <article class="card">
        <h3 class="card__heading">Wed. 10. Jun</h3>
        <img src="../assets/images/Thunderstorm.png" alt="HeavyCloud" class="card__img card__separator">
        <div class="card__temp">
            <strong class="card__temp--primary">16&#176;C</strong>
            <small class="card__temp--secondary u-ml-sm">11&#176;C</small>
        </div>
    </article>
</section>