@mixin grayButtonInteraction {
    background-color: var(--clr-text-1);
    color: var(--button-background);
}

.btn {
    border: none;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: all .2s;

    &__rounded {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        @include centerContent();

        &.active {
            @include grayButtonInteraction();
        }
    }

    &__rectangle {
        padding: 0.6875rem 1.125rem;
    }

    &--gray {
        background-color: var(--button-background);
        color: var(--clr-text-1);

        &:hover {
            @include grayButtonInteraction()
        }
    }

    &--purple {
        background-color: var(--button-purple);
        color: var(--clr-text-1);

        &:hover {
            outline: 1px solid rgb(206, 206, 206);
            outline-offset: -6px;
        }
    }

    &--bold {
        font-weight: 700;
    } 
}