<section>
    <h2 class="sr-only">Search weather by location</h2>
    <button class="close-btn" routerLink="">&#10005;</button>
    <form class="flex">
        <input type="text" placeholder="Search location" #cityNameInput>
        <button class="btn btn__rectangle btn--purple" type="button" (click)="getCities(cityNameInput.value)">Search</button>
    </form>
    <div class="bottom-wrapper">
        <div class="loading loading--light-background loading--absolute" *ngIf="loading">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>
        </div>
        <ul *ngIf="!loading">
            <li *ngFor="let city of cities">
                <button class="btn-location flex align-center justify-between" (click)="getWeatherInfo(city)">
                    {{ city.name }}
                    <img src="../../../assets/images/chevron-right.svg" alt="chevron right" aria-hidden="true">
                </button>
            </li>
        </ul>
    </div>
</section>