<section class="container highlights">
    <h2 class="u-mb-md">Today's highlights</h2>
    <div class="grid-auto-328">
        <article class="card">
            <h3 class="card__heading">Wind Status</h3>
            <p class="card__big card__separator">
                <strong>7</strong>
                <small>mph</small>
            </p>
        </article>
        <article class="card">
            <h3 class="card__heading">Humidity</h3>
            <p class="card__big card__separator">
                <strong>84</strong>
                <small>%</small>
            </p>
        </article>
        <article class="card">
            <h3 class="card__heading">Visibility</h3>
            <p class="card__big card__separator">
                <strong>6.4</strong>
                <small>miles</small>
            </p>
        </article>
        <article class="card">
            <h3 class="card__heading">Air Pressure</h3>
            <p class="card__big card__separator">
                <strong>998</strong>
                <small>mb</small>
            </p>
        </article>
    </div>
</section>
