<div class="loading" *ngIf="loading">
    <span class="line line--1"></span>
    <span class="line line--2"></span>
    <span class="line line--3"></span>
</div>
<main *ngIf="!loading">
    <div class="left" [@routerAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="right">
        <div class="buttons flex container">
            <button class="btn btn__rounded btn--bold btn--gray u-ml-auto" [ngClass]="{'active': unit === 'C'}" (click)="setTemperatureUnit('C')">&#176;C</button>
            <button class="btn btn__rounded btn--bold btn--gray u-ml-sm" [ngClass]="{'active': unit === 'F'}" (click)="setTemperatureUnit('F')">&#176;F</button>
        </div>
        <app-five-days-forecast></app-five-days-forecast>
        <app-todays-highlights></app-todays-highlights>
    </div>
</main>
