*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: Poppins, sans-serif; 
    color: var(--clr-text-1);
}

body {
    background-color: var(--background-blue);
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style: none; 
}

button,
input {
    background: none;
    border: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}