.container {
    max-width: 48rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.u-ml-sm {
    margin-left: 1rem;
}

.u-mb-md {
    margin-bottom: 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}