.container {
    max-width: 71rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.u-ml-sm {
    margin-left: 1rem;
}

.u-mb-md {
    margin-bottom: 2rem;
}

.u-ml-auto {
    margin-left: auto;
}

.u-mr-auto {
    margin-right: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}