<section>
    <h2 class="sr-only">Today's weather</h2>
    <div>
        <button aria-hidden="true">Search for places</button>
        <button>Location</button>
    </div>
    <figure>
        <img src="../../../assets/images/Shower.png" alt="Snow">
        <figcaption>
            <p>
                <strong>15</strong>
                <small>&#176;C</small>
            </p>
            <p>Shower</p>
        </figcaption>
    </figure>
    <p>
        <span>Today</span>
        <span></span>
        <span>Fri. 5 Jun</span>
    </p>
    <p>Helsinki</p>
</section>